<!DOCTYPE html>
<html>
    <body>
            <h1> ようこそ
                <strong>Bookers</strong>
                へ！ 
            </h1>
        <div class="contents">
            <strong>Bookers</strong>
            では、さまざまな書籍に関するあなたの意見や
        </div>
        <div class="contents">
            印象を共有し交換することができます
        </div>
        <div class="contents">
            <a href="/books">start</a>
        </div>
    </body>  
</html>