header {
  width: 90%;
  padding: 15px 0;
}

.contents {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

main {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.newbook {
  margin-bottom: 10px;
}

.index {
  margin-bottom: 0;
}

.notice {
  margin: 33px;
}
   
.flash-message.notice {
  color: green;
}
   
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}